<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout :: head}"></head>
<body>
<nav th:replace="~{layout :: navbar}" class="nav"></nav>

<section class="container mt-4 p-5">
    <div class="row mb-3">
        <h1>Reglas</h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de fin</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de reglas -->
        <tr th:each="regla : ${reglas}">
            <td th:text="${regla.nombre}"></td>
            <td th:text="${#dates.format(regla.fecha_inicio,'dd/MM/yyyy' )}"></td>
            <td th:text="${#dates.format(regla.fecha_fin,'dd/MM/yyyy' )}"></td>
            <td class="d-flex justify-content-evenly">
                <a type="button" class="btn btn-outline-info" id="btn-info" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${regla.id}">
                    +
                </a>
                <a th:href="@{/reglas/editar/{id}(id=${regla.id})}" class="btn btn-outline-warning " id="btn-edit">✎</a>
                <a th:href="@{/reglas/{id}(id=${regla.id})}" class="btn btn-outline-danger" id="btn-delete">
                    ✕
                </a>
            </td>

            <!-- Modal -->
            <div class="modal fade" th:id="'modal-' + ${regla.id}" tabindex="-1" th:aria-labelledby="'masInfo-' + ${regla.id}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'masInfo-' + ${regla.id}">Más información</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Descripción</h3>
                            <p th:text="${regla.descripcion}"></p>

                            <h3>Script</h3>
                            <textarea class="form-control" th:id="'regla-'+${regla.id}" aria-label="regla"  th:text="${regla.script}"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>

        </tbody>
    </table>
    </section>



<script th:src="@{/js/codemirror.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom_index.js}"></script>
</body>
</html>